.book {
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  background-color: #fff;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.category {
  font-weight: bold;
  opacity: 50%;
}

.title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: bold;
  margin-top: 0.25rem;
}

.author {
  color: #4386bf;
  font-size: 0.875rem;
}

.btnContainer {
  display: flex;
  gap: 1rem;
  margin-top: 1.25rem;
}

.btnDiv {
  color: #e8e8e8;
}

button {
  border: none;
  padding: 0;
  color: #4386bf;
  background-color: inherit;
}

.prog {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.progCircle {
  width: 5.625rem;
  max-height: 5.625rem;
  margin-left: auto;
}

.progText {
  margin: auto 0;
  font-size: 0.875rem;
  color: rgba(18, 18, 18, 0.5);
}

.progNum {
  color: #121212;
  font-size: 2rem;
  opacity: 100%;
}

.chapter {
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chapter p {
  font-family: 'Roboto Slab', serif;
}

.chapterHeading {
  font-size: 0.8rem;
  color: rgba(18, 18, 18, 0.5);
}

.chapterTitle {
  font-size: 1rem;
}

.chapterBtn {
  margin-top: auto;
  padding: 0.5rem 1.375rem;
  border-radius: 3px;
  color: #fff;
  background-color: #0290ff;
  font-weight: 300;
}
